body {
    padding: 20px;
}

.table-custom-header thead th {
    background-color: #6c7ae0;
    color: white;
    border-bottom: 0;
}

.table-custom-header thead th:first-child {
    border-top-left-radius: 0.5rem;
}

.table-custom-header thead th:last-child {
    border-top-right-radius: 0.5rem;
}

.table-custom-header tbody tr:last-child {
    border-bottom: white;
}

.table-custom-header tbody tr:last-child td:first-child {
    border-bottom-left-radius: 0.5rem;
}
.table-custom-header tbody tr:last-child td:last-child {
    border-bottom-right-radius: 0.5rem;
}